<nz-layout>
  <nz-sider [nzWidth]="240" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <na-sidebar [isCollapsed]="isCollapsed"></na-sidebar>
  </nz-sider>
  <nz-layout>
    <na-page-top id="page-top" [(isCollapsed)]="isCollapsed">
      <na-notice-center
        (onPopupVisibleChange)="handleNoticePopupVisibleChange($event)"
      >
        <na-notice-notification
          (onClear)="handleNoticeClear(NaNoticeType.Notification)"
          (onClick)="handleNoticeClick($event, NaNoticeType.Notification)"
        ></na-notice-notification>
        <na-notice-message
          (onClear)="handleNoticeClear(NaNoticeType.Message)"
          (onClick)="handleNoticeClick($event, NaNoticeType.Message)"
        ></na-notice-message>
        <na-notice-todo
          (onClear)="handleNoticeClear(NaNoticeType.Todo)"
          (onClick)="handleNoticeClick($event, NaNoticeType.Todo)"
        ></na-notice-todo>
      </na-notice-center>
      <na-user-center></na-user-center>
    </na-page-top>
    <nz-content id="page-content">
      <na-content-top></na-content-top>
      <div id="main"
           [style.position]="'relative'"
      >
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Noob-Admin ©2017</nz-footer>
  </nz-layout>
</nz-layout>
