:host > nz-layout {
  height: 100%;

  nz-sider {
    z-index: 10;
  }
}

#page-content {
  overflow: auto;
}

#main {
  margin: 24px;

  ::ng-deep {
    .ant-card {
      margin-bottom: 16px;
    }
  }
}
