<div nz-row [nzGutter]="16">
  <div nz-col [nzMd]="12">
    <app-demo-table-basic></app-demo-table-basic>
  </div>
  <div nz-col [nzMd]="12">
    <app-demo-table-editable></app-demo-table-editable>
  </div>
  <div nz-col [nzMd]="12">
    <app-demo-table-selection></app-demo-table-selection>
  </div>
  <div nz-col [nzMd]="12">
    <app-demo-table-expand></app-demo-table-expand>
  </div>
  <div nz-col [nzMd]="12">
    <app-demo-table-ajax></app-demo-table-ajax>
  </div>
  <div nz-col [nzMd]="12">
    <app-demo-table-sort-filter></app-demo-table-sort-filter>
  </div>
</div>
