<div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="24">
        <ng-template #modelContent>
            <p>Some contents...</p>
            <p>Some contents...</p>
            <p>Some contents...</p>
            <p>Some contents...</p>
        </ng-template>
        <nz-card>
            <ng-template #title>Basic</ng-template>
            <ng-template #body>
                <div>
                    <button nz-button (click)="basicModel(modelContent)">Open</button>
                    <button nz-button (click)="confirmModel(modelContent)">Confirm</button>
                </div>
                <button nz-button (click)="showModel('info')">Info</button>
                <button nz-button (click)="showModel('success')">Success</button>
                <button nz-button (click)="showModel('error')">Error</button>
                <button nz-button (click)="showModel('warning')">Warning</button>
            </ng-template>
        </nz-card>
    </div>
</div>
