<nz-header>
    <i
      class="anticon trigger"
      [class.anticon-menu-fold]="!isCollapsed"
      [class.anticon-menu-unfold]="isCollapsed"
      (click)="toggleCollapsed()">
    </i>
    <ul nz-menu [nzMode]="'horizontal'">
      <li nz-submenu>
        <span title>
          <nz-avatar
            [nzSize]="'large'"
            [nzSrc]="currentUser?.naAvatar"
            [nzIcon]="'user'"
            nzText="USER"
          >
          </nz-avatar>
        </span>
        <ul>
          <li nz-menu-item (click)="signOut()">sign out</li>
        </ul>
      </li>
    </ul>
</nz-header>
